/* PAGE LAYOUT */
.edit-profile-page {
  min-height: 100vh;
  padding-top: 1rem;
  background: var(--bg-color);
}

/* CARD */
.edit-profile-card {
  width: 100%;
  margin: 0;
  padding: 2rem 1.5rem;
  background: var(--card-color);
  border-radius: 0 0 2rem 2rem;
  box-sizing: border-box; /* 🔥 viktigt */
}

/* TITLE */
.edit-profile-title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* AVATAR */
.edit-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

/* AVATAR UPLOAD */
.avatar-upload {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* REMOVE BUTTON */
.remove-avatar-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
  background: transparent;
  border: 1px solid var(--input-border);
  color: var(--text-muted);
  cursor: pointer;
}

.avatar-preview {
  width: 7rem;
  height: 7rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  background: var(--hover-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* AVATAR UPLOAD */
.avatar-upload {
  margin-top: 0.5rem;
}

/* HIDDEN INPUT */
.avatar-input-hidden {
  display: none;
}

/* CUSTOM BUTTON */
.avatar-upload-btn {
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
  background: var(--hover-color);
  color: var(--text-color);
  font-size: 0.8rem;
  cursor: pointer;
  display: inline-block;
}

/* FORM */
.edit-profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

/* INPUTS */
.edit-profile-form label {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.edit-profile-form input,
.edit-profile-form textarea {
  margin-top: 0.4rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--input-border);
  background: transparent;
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 0.9rem;
}

/* BUTTON */
.save-profile-btn {
  margin-top: 1.5rem;
  padding: 0.9rem;
  border: none;
  border-radius: 1rem;
  background: linear-gradient(90deg, var(--btn-start), var(--btn-end));
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

/* PROFILE SAVED */
.success-text {
  margin-top: 1rem;
  color: #4caf50;
  text-align: center;
  font-size: 0.9rem;
}
