.navbar-continer{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;
}
.navbar-continer > div {
    width: 33%;
}



.link-list-big{
    display: flex;
    list-style: none;
    gap: 1rem;
    display: none;
    
}
.link-list-big > li > a{
    color: white;
    text-decoration: none;
}
.link-list-small > li > a{
    color: white;
    text-decoration: none;
}
.link-list-small {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    
}
.logo-continer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-img{
    display: flex;
    width: 5rem;
}
.avatar-circle{
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.avatar-continer {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.popup-menu{
    width: 100%;
    top: 0;
    height: 10rem;
    background-color: rgb(56 61 110) ;
    position: absolute;
    padding: 1rem;
    
}